.thirdStep {
    background-image: url("../../assets/img/app/03/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 810px;
    width: 1080px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    &_log{
        width: calc(100vw - 584px);
        height: 100%;
        position: relative;
        img {
            position: absolute;
            bottom: 1.5rem;
            left: 1rem;
        }
    }
    &_contain {
        width: 584px;
        height: 100%;
        background-color: #fff;
        border-radius: 42.5px 0 0 42.5px;
        position: relative;
        &-form {
            padding: 80px;
            h1 {
                font-size: 82.14px;
                color: #C6D420;
                font-family: "Roboto-MediumItalic";
            }
            p {
                color: #C6D420 ;
                font-size: 22px;
                line-height: 22px;
                margin-bottom: 0;
                font-family: "Roboto-Italic";
            }
            h3 {
                color: #C6D420 ;
                font-size: 22px;
                // font-weight: 700;
                margin-bottom: 1.5rem;
                font-family: "Roboto-BoldItalic";
            }
            textarea {
                width: 100%;
                border: none;
                background-color: #D8D9D9;
                border-radius: 9px;
                padding: 1rem;
            }
            button {
                border: none;
                margin-top: 1.5rem;
                background-color: #C6D420;
                text-transform: uppercase;
                color: #fff;
                font-size: 11.9px;
                font-family: "Roboto-Regular";
                width: 85.17px;
                height: 30px;
                border-radius: 5px;
            }
            .spinner-border {
                color: #C6D420;
                width: 3rem;
                height: 3rem;
                margin-top: 2rem;
            }
        }
        &-brand {
            position: absolute;
            bottom: 1rem;
            right: 1rem;
        }
    }
}