.contain {
    background-color: #C6D420;
    width: 1080px;
    height: 810px;
    display: flex;
    justify-content: center;
    align-items: center;
    &_box {
        &-bg{
            background-image: url("../../assets/img/home/bg.png");            
            background-repeat: no-repeat;
            background-size: cover;
            height: 663px;
            width: 1023px;
            // border-radius: 0 0 0 2rem;
            color: #000;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            &-imgs {
                background-color: transparent;
                // height: 200px;
                width: 100%;
                padding: 1rem;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-end;
            }
        }
        div {
            padding-top: 37px;
            p {
                color: #707070;
                font-size: 26px;
                font-family: "Roboto-MediumItalic";
            }
            button {
                border: none;
                border-radius: 10px;
                background-color: rgb(60, 60, 59);
                color: #fff;
                font-size: 11.9px;
                width: 100px;
                height: 40px;
                font-family: "Roboto-Regular";
            }
        }
    }
}