$generalWidth: 1080px;
$generalHeight: 1920px;

.CardGallery {
  overflow: hidden;
  border: none;
  &_flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    border: none;
    &-boxImg {
      height: 100%;
      background-color: #000;
      position: relative;
      img {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 50%;
        margin-left: -50%;
        object-fit: cover;
        object-position: center;
      }
    }
    &-content {
      height: 100%;
      position: relative;
      background-repeat: no-repeat;
      background-size: cover;
      &-phrase {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 85%;
        height: 100%;
        p {
          align-self: flex-start !important;
          font-family: "Roboto-BoldCondensedItalic";
          color: #fff;
          text-transform: uppercase;
        }
        h5 {
          align-self: flex-start !important;
          font-family: "Roboto-BoldCondensedItalic";
          color: #000;
          text-transform: uppercase;
        }
      }
      &-logo {
        position: absolute;
        bottom: 0.5rem;
        right: 0.5rem;
      }
    }
  }
}
