.firstStep {
  background-image: url("../../assets/img/app/01/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  &_contain {
    display: flex;
    justify-content: space-between;
    height: 100%;
    &-phrase {
      padding: 0 0 2rem 2rem;
      align-self: flex-end;
      width: 419px;
      height: 161px;
    }

    &-form {
      background-color: #fff;
      border-radius: 42.5px 0 0 42.5px;
      width: 54%;
      height: 100%;
      display: flex;
      flex-direction: column;
      &-box {
        padding: 0 65px;
        margin-top: 3rem;
        h1 {
          color: #c6d420;
          font-size: 82px;
        }
        h3 {
          color: #c6d420;
          font-size: 27px;
          margin-bottom: 1rem;
        }
        div {
          input {
            background-color: #d8d9d9;
            color: #fff;
            font-size: 17px;
          }
          input:focus {
            background-color: #d8d9d9;
            color: #000;
            border: 2px solid #b4b8b8;
            box-shadow: none;
          }
          input::placeholder {
            color: #fff;
            font-size: 17px;
          }
        }
        &-age {
          display: flex;
          flex-direction: row;
          padding: 20px 0;
          span {
            font-size: 17px;
          }
          .radio {
            margin-left: 2rem;
            label {
              padding-right: 2rem;
              font-size: 17px;
              color: #393938;
              input[type="radio"]:after {
                width: 15px;
                height: 15px;
                border-radius: 15px;
                top: -4px;
                left: -1px;
                position: relative;
                background-color: #fff;
                content: "";
                display: inline-block;
                visibility: visible;
                border: 1px solid #000;
              }

              input[type="radio"]:checked:after {
                width: 15px;
                height: 15px;
                border-radius: 15px;
                top: -4px;
                left: -1px;
                position: relative;
                background-color: #C6D420;
                content: "";
                display: inline-block;
                visibility: visible;
                border: 0px solid transparent;
              }
            }
          }
        }
        p {
          font-size: 12px;
          color: #393938;
          a {
            font-weight: 800;
            color: #000;
            text-decoration: none;
          }
        }
        &-allows {
          .form-check {
            .form-check-input:checked {
              background-color: #C6D420;
              border-color: #C6D420;
            }
            .form-check-label {
              color: #393938;
              font-size: 11px;
              a {
                color: #393938;
                font-weight: 800;
                text-decoration: none;
              }
            }
          }
        }
        &-button {
          border: none;
          margin-top: 2rem;
          background-color: #C6D420;
          color: #fff;
          text-transform: uppercase;
          border-radius: 5px;
          font-size: 12px;
          padding: 10px 20px;
        }
      }
      &-brand {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 0 2rem 2rem 0;
        &-img {
          width: 77px;
          height: 116px;
          
        }

      }
    }
  }
}
